.lastbner{
    margin-top: 20px;
    border: 1px solid #BBBBBB;
    width: 95%;
   height: 442px;
   color: #000000;
  padding: 30;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
}
